/* 用户隐私协议样式开始 */
#app {
  font-size: 0.28rem;
  color: #000;
}
#app .container {
  padding: 0.4rem 0.2rem;
}
#app .container div {
  margin-bottom: 5px;
}
#app .container .content {
  padding-top: 0.2rem;
}
#app .container .content p {
  font-weight: 600;
}
