/**css代码在此处开始*/
#employee {
  width: 100%;
  height: 100%;
}
#employee h1 {
  text-align: center;
  font-size: 0.32rem;
  height: 0.85rem;
  background-color: #EDEDED;
  font-weight: 600;
  line-height: 0.85rem;
}
#employee .content {
  padding-left: 0.4rem;
  padding-right: 0.45rem;
  height: 12.49rem;
}
#employee .content p {
  font-size: 0.24rem;
  color: #333333;
  padding: 0.3rem 0;
  font-weight: 500;
}
#employee .content p span {
  float: right;
  color: #999999;
}
#employee .content hr {
  height: 1px solid #DCDCDC;
}
