#app {
  font-size: 0.24rem;
}
#app header .header-box .box-item {
  width: 100%;
  padding: 0 0.3rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background: linear-gradient(90deg, #3dcbf3 0%, #6383fd 53%, #6383fd 100%);
}
#app header .header-box .box-item .item-left span {
  font-size: 0.32rem;
  font-weight: 600;
}
#app footer {
  width: 100%;
  position: fixed;
  bottom: 1rem;
}
#app footer .footer-box {
  width: 85%;
  margin: 0 auto;
  height: 0.8rem;
  border-radius: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.3rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background: linear-gradient(180deg, #6886ff 0%, #4769ee 100%);
}
