#bMap .search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bMap .search .searchInput {
  width: 6.2rem;
  height: 0.72rem;
  background: #f5f5f5;
  outline-style: none ;
  border: 0;
  font-size: 0.3rem;
  padding: 0.13rem 0.14rem;
  font-family: PingFang SC;
  color: #bbbbbb;
  border-radius: 0.36rem;
  outline: none;
  border: none;
  caret-color: #ccc;
  -webkit-user-select: auto!important;
  user-select: auto!important;
}
#bMap .LenovoWord {
  width: 100%;
  text-indent: 6px;
  margin-top: 22px;
}
#bMap .LenovoWord .name {
  font-size: 16px;
}
#bMap .LenovoWord .address {
  font-size: 12px;
}
