<div id="accountsReceivable">
    <!--    头部-->

    <div class="company">
        <div class="company_name"><p>{{companyName}}</p></div>
        <div class="company_cny">币种:（CNY）</div>
    </div>
    <!--    时间选择段-->
    <div class="datePick">
        <div class="date-icon">
            <img src="../../image/manageForm/date.png" alt="">
        </div>
        <span class="spans"></span>
        <div class="startTime">
            <!--            <div class="startTime_title">起始</div>-->
            <van-field
                    readonly
                    clickable
                    name="datetimePicker"
                    :value="startTime"
                    placeholder="请选择开始年月"
                    @click="showPicker1 = true"
            />
            <van-popup style="opacity:1" v-model="showPicker1" position="bottom">
                <van-datetime-picker
                        v-model="currentDate"
                        type="year-month"
                        title="结束年月"
                        :min-date="yearMinDate"
                        :max-date="yearMaxDate"
                        :formatter="formatter"
                        @confirm="onStart"
                        @cancel="showPicker1 = false"
                />
            </van-popup>
        </div>
        <div class="startTime-font">至</div>
        <div class="endTime">
            <!--            <div class="endTime_title">结束</div>-->
            <van-field
                    readonly
                    clickable
                    name="datetimePicker"
                    :value="endTime"
                    placeholder="请选择结束年月"
                    @click="showPicker2 = true"
            />
            <van-popup v-model="showPicker2" position="bottom">
                <van-datetime-picker
                        v-model="currentDate"
                        type="year-month"
                        title="结束年月"
                        :min-date="yearMinDate"
                        :max-date="yearMaxDate"
                        :formatter="formatter"
                        @confirm="onEnd"
                        @cancel="showPicker2 = false"
                />
            </van-popup>
        </div>
    </div>
    <div class="aTitle">销售表</div>
    <!--echarts  图表-->
    <div class="picture">
        <div id="myChart"></div>
    </div>
    <div class="picture">
        <div id="myChart2"></div>
    </div>
    <!-- <div id="myChart" :style="{width: '300px', height: '300px'}"></div> -->
    <div class="watchDetail_title">
        <div>查看明细</div>
        <img src=" ../../image/manageForm/arrow.png" alt="" @click="isShow=!isShow" v-show="isShow">
        <img src=" ../../image/manageForm/arrow2.png" alt="" @click="isShow=!isShow" v-show="!isShow">
    </div>
    <div class="bottom_btns">
        <div @click="showShare = true" class="export">导出</div>
        <van-share-sheet v-model="showShare" :options="options"
                         @select="onSelect" title="选择导出方式"  />
        <div @click="handlPrint" class="print">打印</div>
    </div>
    <!--    点击显示隐藏-->
    <div class="showTable" v-show="isShow">
        <div class="accountDetails">
            <div class="accountDetails_content">{{companyName}}</div>
        </div>
        <div class="accountTitle">
            <div class="accountTitle_company">
<!--                <div class="accountTitle_company_1">{{companyName}}</div>-->
                <div class="accountTitle_company_2">销售表</div>
                <div class="accountTitle_company_3">币种:（CNY）</div>
            </div>
            <div class="accountTitle_date">
                <div class="accountTitle_date_1">月份</div>
                <div class="accountTitle_month">
                    <!--                底部选择日期-->
                    <van-field
                            readonly
                            clickable
                            name="datetimePicker"
                            :value="value"
                            placeholder="点击选择时间"
                            @click="showPicker = true"
                    />
                    <van-popup v-model="showPicker" position="bottom">
                        <van-datetime-picker
                                v-model="currentDate"
                                type="year-month"
                                title="选择年月"
                                :min-date="minDate"
                                :max-date="maxDate"
                                :formatter="formatter"
                                @confirm="onConfirm"
                                @cancel="showPicker = false"
                        />
                    </van-popup>
                    <img src="../../image/manageForm/more.png" alt="">
                </div>

            </div>
        </div>

        <div class="watchDetail_content">
            <table id="table" border="1" class="table-box">
                <thead>
                <tr>
                    <th>商品编码</th>
                    <th>商品名称</th>
                    <th>销售数量</th>
                    <th>销售金额(万元)</th>
                </tr>
                </thead>
                <tbody>
                <!--            循环list-->
                <tr v-for="(item, index) in incomeMonthList" :key="index">
                    <td>{{item.supPrdNo}}</td>
                    <td>{{item.prdName}}</td>
                    <td style="text-align: right">{{item.qty}}</td>
                    <td style="text-align: right">{{item.amt==0?'':item.amt}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
