#app {
  height: 100%;
  box-sizing: border-box;
}
#app input {
  outline-style: none;
  border: none;
  caret-color: #ccc;
  user-select: auto !important;
  -webkit-user-select: auto !important;
}
#app #invoices-taxpayers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #F5F5F5;
}
#app #invoices-taxpayers .invoices-taxpayers-header {
  width: 100%;
  height: 2.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("../../image/invoices_taxpayers/background.png");
  background-size: 100% 100%;
}
#app #invoices-taxpayers .invoices-taxpayers-header .invoices-taxpayers-header-box {
  margin-top: 0.64rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#app #invoices-taxpayers .invoices-taxpayers-header .invoices-taxpayers-header-box .invoices-taxpayers-header-box-line {
  width: 0.06rem;
  height: 0.44rem;
  background-color: #ffffff;
  border-radius: 0.03rem;
  margin-left: 0.5rem;
}
#app #invoices-taxpayers .invoices-taxpayers-header .invoices-taxpayers-header-box .invoices-taxpayers-header-box-name {
  color: #FFFFFF;
  font-size: 0.32rem;
  font-weight: bold;
  padding-left: 0.23rem;
}
#app #invoices-taxpayers .invoices-taxpayers-info {
  box-sizing: border-box;
  margin-top: -0.6rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #FFFFFF;
  width: 100%;
  padding: 0.2rem 0.43rem 0 0.42rem;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item {
  height: 0.82rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: #E4E4E4 solid 0.02rem;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .font-style-gray {
  color: #999999;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .invoices-taxpayers-info-item-searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .invoices-taxpayers-info-item-searchBox .invoices-taxpayers-info-item-content {
  flex-grow: 1;
  font-size: 0.24rem;
  font-weight: 500;
  font-family: PingFang SC;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .invoices-taxpayers-info-item-searchBox .select-common-style {
  width: 4.52rem;
  height: 100%;
  background: #fff;
  border: none;
  outline: none;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .invoices-taxpayers-info-item-searchBox::after {
  content: '';
  width: 0.23rem;
  height: 0.14rem;
  display: block;
  background: url(../../image/invoices_taxpayers/more.png) no-repeat center;
  background-size: 0.16rem;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .invoices-taxpayers-info-item-title {
  flex-shrink: 0;
  width: 1.9rem;
  font-size: 0.24rem;
  font-weight: 500;
  font-family: PingFang SC;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .invoices-taxpayers-info-item-content {
  font-size: 0.24rem;
  font-weight: 500;
  font-family: PingFang SC;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .select-common-style {
  height: 100%;
  background: #fff;
  border: none;
  outline: none;
  /* &::after {
            content: '';
            width: .115rem;
            height: .07rem;
            display: block;
            background: url(../../image/invoices_taxpayers/more.png) no-repeat center;
            background-size: .16rem;
          } */
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .invoices-taxpayers-info-item-select {
  display: flex;
  flex-direction: row;
  align-self: center;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .invoices-taxpayers-info-item-select .invoices-taxpayers-info-item-select-input {
  font-size: 0.24rem;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .invoices-taxpayers-info-item-select .invoices-taxpayers-info-item-select-input input {
  border-width: 0px;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .invoices-taxpayers-info-item-select .invoices-taxpayers-info-item-select-input-icon {
  width: 0.181rem;
  height: 0.181rem;
  border-top: #999999 solid 0.03rem;
  border-right: #999999 solid 0.03rem;
  transform: rotate(135deg);
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-item .invoices-taxpayers-info-item-search {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.09rem;
  height: 0.48rem;
  background-color: #6383FD;
  color: #FFFFFF;
  font-family: PingFang SC;
  font-size: 0.24rem;
  font-weight: 500;
  border-radius: 0.24rem;
}
#app #invoices-taxpayers .invoices-taxpayers-info .invoices-taxpayers-info-cancelBorder {
  border-bottom: 0px;
}
#app #invoices-taxpayers .actives {
  background-color: #6383FD;
  border: none;
}
#app #invoices-taxpayers .invoices-taxpayers-goods {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff;
  padding: 0 0.42rem 0 0.42rem;
  margin: 0 0 0.39rem 0;
  border-radius: 0 0 0.5rem 0.5rem;
}
#app #invoices-taxpayers .invoices-taxpayers-goods .invoices-taxpayers-goods-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 0.85rem;
  font-size: 0.24rem;
  font-family: PingFang SC;
  border-bottom: #E5E5E5 solid 0.02rem;
}
#app #invoices-taxpayers .invoices-taxpayers-goods .invoices-taxpayers-goods-item .font-style-bold {
  font-size: 0.3rem;
  font-weight: bold;
  font-family: PingFang SC;
}
#app #invoices-taxpayers .invoices-taxpayers-goods .invoices-taxpayers-goods-item .invoices-taxpayers-goods-item-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#app #invoices-taxpayers .invoices-taxpayers-goods .invoices-taxpayers-goods-item .invoices-taxpayers-goods-item-title .invoices-taxpayers-goods-item-title-radio {
  width: 0.28rem;
  height: 0.28rem;
  border: #999999 solid 0.02rem;
  border-radius: 0.14rem;
  margin-right: 0.33rem;
}
#app #invoices-taxpayers .invoices-taxpayers-goods .invoices-taxpayers-goods-item .invoices-taxpayers-goods-item-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#app #invoices-taxpayers .invoices-taxpayers-goods .invoices-taxpayers-goods-item .invoices-taxpayers-goods-item-content .invoices-taxpayers-goods-item-content-radio {
  width: 0.28rem;
  height: 0.28rem;
  border: #999999 solid 0.02rem;
  border-radius: 0.14rem;
  margin-right: 0.13rem;
}
#app #invoices-taxpayers .invoices-taxpayers-goods .invoices-taxpayers-goods-item .invoices-taxpayers-goods-item-content .invoices-taxpayers-goods-item-content-search {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.09rem;
  height: 0.48rem;
  background-color: #6383FD;
  color: #FFFFFF;
  font-family: PingFang SC;
  font-size: 0.24rem;
  font-weight: 500;
  border-radius: 0.24rem;
  margin-left: 0.29rem;
}
#app #invoices-taxpayers .invoices-taxpayers-goods .invoices-taxpayers-goods-item .invoices-taxpayers-goods-item-content .invoices-taxpayers-goods-item-content-update {
  background-color: #ffffff;
  border: #6383FD solid 0.02rem;
  color: #6383FD;
}
#app #invoices-taxpayers .invoices-taxpayers-goods .invoices-taxpayers-goods-header {
  font-size: 0.3rem;
  font-weight: bold;
  font-family: PingFang SC;
  height: 1.11rem;
}
#app #invoices-taxpayers .invoices-taxpayers-goods .invoices-taxpayers-goods-add {
  align-self: center;
  width: 6.04rem;
  height: 0.8rem;
  margin: 0.37rem 0 0.36rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  border-radius: 0.4rem;
}
#app #invoices-taxpayers .invoices-taxpayers-goods .invoices-taxpayers-goods-add .invoices-taxpayers-goods-add-icon {
  font-size: 0.48rem;
  font-weight: 800;
  font-family: PingFang SC;
  color: #6383FD;
  margin-right: 0.23rem;
}
#app #invoices-taxpayers .invoices-taxpayers-goods .invoices-taxpayers-goods-add .invoices-taxpayers-goods-add-content {
  font-size: 0.3rem;
  font-weight: bold;
  font-family: PingFang SC;
  color: #6383FD;
}
#app #invoices-taxpayers .invoices-taxpayers-bottom {
  align-self: center;
  width: 6.04rem;
  margin-bottom: 0.39rem;
}
#app #invoices-taxpayers .invoices-taxpayers-bottom .invoices-taxpayers-bottom-submitItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0.8rem;
  font-size: 0.3rem;
  font-weight: bold;
  color: #FFFFFF;
  background-image: linear-gradient(180deg, #6886FF, #4769EE);
  border-radius: 0.4rem;
  margin-bottom: 0.25rem;
}
#app #invoices-taxpayers .invoices-taxpayers-bottom .invoices-taxpayers-bottom-submitInvoices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0.8rem;
  font-size: 0.3rem;
  font-weight: bold;
  color: #6383FD;
  border: #6383FD solid 0.02rem;
  background: #F5F5F5;
  border-radius: 0.4rem;
}
#app .popup-box {
  font-size: 0.24rem;
}
#app .popup-box .popup-head {
  background-color: #6383FD;
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
}
#app .popup-box .main-item {
  height: 0.8rem;
  line-height: 0.8rem;
  display: flex;
  justify-content: flex-start;
  margin: 0 0.4rem;
  border-bottom: 1px solid #E5E5E5;
  color: #333333;
}
#app .popup-box .main-item .main-item-title {
  width: 1.8rem;
}
#app .popup-box .box-footer {
  height: 1rem;
  display: flex;
  margin: 0.4rem 0.4rem 0 0.4rem;
  line-height: 1rem;
  justify-content: space-around;
  position: relative;
  border-radius: 0.4rem;
  background-color: #4769EE;
  font-size: 0.3rem;
  color: #FFFFFF;
}
#app .popup-box .box-footer .f-middle {
  position: absolute;
  width: 2px;
  height: 0.5rem;
  top: 0.25rem;
  background-color: #FFFFFF;
}
