<div id="app">
    <header>
        <div class="header-box">
            <div class="box-item">
                  <input v-model="phone" type="text" maxlength="11" placeholder="请输入新的手机号码">
            </div>
            <div class="box-item">
                <div class="item-left">
                    <input maxlength="6" v-model='sureNumber' placeholder="输入验证码" type="text">
                </div>
                <div @click='handleGetCode' class="item-right">{{codeDesc}}</div>
            </div>
        </div>
    </header>
    <footer>
        <div @click="handlePhone" class="footer-box">
            提交
        </div>
    </footer>
</div>
