<div id="app">
    <header>
        <div class="header-box">
            <div class="box-item">
                <span>{{phone}}</span>
            </div>
            <div class="box-item">
                <div class="item-left">
                    <input maxlength="6" v-model='sureNumber' placeholder="输入验证码" type="text">
                </div>
                <div @click='handleGetCode' class="item-right">{{codeDesc}}</div>
            </div>
            <div class="box-item">
                <span>新密码</span>
                <div class="item-left">
                    <input maxlength="12" v-model="password" placeholder="请输入新密码" type="password">
                </div>
            </div>
            <div class="box-item">
                密码至少6个字符，必须包含英文和数字
            </div>
        </div>
    </header>
    <footer>
        <div @click="submitReg" class="footer-box">
            提交
        </div>
    </footer>
</div>
