/* 单据审批详情 */
#app {
  font-size: 0.24rem;
  width: 100%;
}
#app .flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#app header {
  padding-bottom: 0.4rem;
}
#app header .header-box {
  width: 100%;
  height: 3.2rem;
}
#app header .header-box img {
  width: 100%;
  height: 100%;
}
#app main {
  /* 发票-海关缴纳书-财政收据-存货 */
  /* 银行 */
}
#app main .mian-box {
  width: 100%;
  overflow: auto;
  padding-bottom: 0.9rem;
}
#app main .mian-box .box-table {
  width: 14rem;
}
#app main .mian-box .box-table .t-header {
  display: flex;
  width: 100%;
  height: 0.72rem;
  color: #000;
  background-color: #f5f5f5;
}
#app main .mian-box .box-table .t-header > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app main .mian-box .box-table .t-header > div span {
  font-weight: 500;
}
#app main .mian-box .box-table .t-header .h-number {
  flex: 2;
}
#app main .mian-box .box-table .t-body {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #E0E0E0;
}
#app main .mian-box .box-table .t-body .b-info {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  height: 0.72rem;
}
#app main .mian-box .box-table .t-body .b-info .info-item1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e0e0e0;
}
#app main .mian-box .box-table .t-body .b-info .info-item1 span {
  font-weight: 500;
}
#app main .mian-box .box-table .t-body .b-info .info-item2 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e0e0e0;
}
#app main .mian-box .box-table .t-body .b-name {
  width: 100%;
  height: 0.72rem;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
}
#app main .mian-box .box-table .t-body .b-name > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border-right: 1px solid #e0e0e0;
}
#app main .mian-box .box-table .t-body .b-name > div span {
  font-weight: 500;
}
#app main .mian-box .box-table .t-body .b-desc {
  width: 100%;
  min-height: 0.72rem;
  display: flex;
}
#app main .mian-box .box-table .t-body .b-desc > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
#app main .mian-box .box-table .t-body .name-item1 {
  flex: 5;
}
#app main .mian-box .box-table .t-body .name-item2 {
  flex: 3;
}
#app main .mian-box .box-table .t-body .name-item3 {
  flex: 2;
}
#app main .mian-box .box-table .t-footer {
  display: flex;
  background-color: #f5f5f5;
}
#app main .mian-box .box-table .t-footer .f-sign {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app main .mian-box .box-table .t-footer .f-sign span {
  font-weight: 600;
  padding: 0.2rem;
}
#app main .mian-box .box-table .t-footer .f-sign img {
  width: 2.7rem;
  height: 1rem;
}
#app main .mian-box2 {
  width: 100%;
  overflow: auto;
  padding-bottom: 0.9rem;
}
#app main .mian-box2 .box-table {
  width: 13rem;
}
#app main .mian-box2 .box-table .t-header {
  display: flex;
  width: 100%;
  height: 0.72rem;
  color: #000;
  background-color: #f5f5f5;
}
#app main .mian-box2 .box-table .t-header > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app main .mian-box2 .box-table .t-header > div span {
  font-weight: 500;
}
#app main .mian-box2 .box-table .t-header .h-number {
  flex: 2;
}
#app main .mian-box2 .box-table .t-body {
  color: #000;
  font-size: 0.24rem;
  border-left: 1px solid #E0E0E0;
}
#app main .mian-box2 .box-table .t-body .b-header {
  width: 100%;
  height: 2.2rem;
  display: flex;
  border-top: 1px solid #E0E0E0;
}
#app main .mian-box2 .box-table .t-body .b-header .h-box {
  flex: 1;
  display: flex;
}
#app main .mian-box2 .box-table .t-body .b-header .h-box .box-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  writing-mode: vertical-lr;
}
#app main .mian-box2 .box-table .t-body .b-header .h-box .box-right {
  flex: 9;
  display: flex;
  flex-direction: column;
}
#app main .mian-box2 .box-table .t-body .b-header .h-box .box-right .right-item {
  flex: 1;
  display: flex;
  border-bottom: 1px solid #E0E0E0;
}
#app main .mian-box2 .box-table .t-body .b-header .h-box .box-right .right-item div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #E0E0E0;
}
#app main .mian-box2 .box-table .t-body .b-header .h-box .box-right .right-item .item-name {
  flex: 1;
  font-weight: 500;
}
#app main .mian-box2 .box-table .t-body .b-header .h-box .box-right .right-item .item-desc {
  flex: 2;
}
#app main .mian-box2 .box-table .t-body .b-main .m-box {
  display: flex;
}
#app main .mian-box2 .box-table .t-body .b-main .m-box div {
  height: 0.72rem;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
#app main .mian-box2 .box-table .t-body .b-main .m-box .box-left {
  flex: 1;
  font-weight: 500;
  line-height: 0.72rem;
  text-align: center;
}
#app main .mian-box2 .box-table .t-body .b-main .m-box .box-right {
  flex: 4;
  line-height: 0.72rem;
  text-indent: 2em;
}
#app main .mian-box2 .box-table .t-footer {
  display: flex;
  background-color: #f5f5f5;
}
#app main .mian-box2 .box-table .t-footer .f-sign {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app main .mian-box2 .box-table .t-footer .f-sign span {
  font-weight: 600;
  padding: 0.2rem;
}
#app main .mian-box2 .box-table .t-footer .f-sign img {
  width: 2.7rem;
  height: 1rem;
}
#app footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
#app footer .footer-box {
  display: flex;
  width: 100%;
  height: 0.9rem;
  font-size: 0.2rem;
}
#app footer .footer-box .box-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}
#app footer .footer-box .box-item img {
  width: 0.32rem;
  height: 0.32rem;
}
#app footer .footer-box .box-item2 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.3rem;
  color: #fff;
  background: linear-gradient(0deg, #ff3d3d 0%, #e83737 100%);
}
#app footer .footer-box .box-item2 span {
  font-weight: 500;
}
#app footer .footer-box .box-item2:last-child {
  background: linear-gradient(0deg, #6887ff 0%, #4769ee 100%);
}
