#app {
  width: 100%;
}
#app .detail {
  width: 100%;
}
#app .detail img {
  max-height: 100%;
  max-width: 100%;
}
#app .detail .detail-title {
  padding: 0.2rem;
  width: 100%;
  font-size: 0.32rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  line-height: 0.42rem;
}
#app .detail .detail-sub {
  width: 100%;
  padding: 0.2rem;
  display: flex;
}
#app .detail .detail-sub .detail-sub-date {
  font-size: 0.26rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 0.36rem;
  margin-right: 0.4rem;
}
#app .detail .detail-sub .detail-sub-province {
  font-size: 0.26rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 0.36rem;
}
#app .detail .detail-content {
  padding: 0.3rem;
  font-size: 0.26rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  line-height: 0.36rem;
}
