#app {
  width: 100%;
  height: 100%;
  /* 支付方式弹吃层 */
}
#app .buy {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #F5F5F5;
}
#app .buy .buy-image {
  width: 100%;
  height: 3.16rem;
  background: #fff;
}
#app .buy .buy-image .buy-image-content {
  margin-top: 0.1rem;
  margin-left: 0.17rem;
  width: 7.12rem;
  height: 2.97rem;
  background: #000;
  opacity: 0.2;
}
#app .buy .buy-form {
  width: 100%;
  margin-top: 0.09rem;
  background: #fff;
}
#app .buy .buy-form .buy-form-area {
  width: 100%;
  height: 0.65rem;
  display: flex;
}
#app .buy .buy-form .buy-form-area .buy-form-area-title {
  margin-top: 0.29rem;
  margin-left: 0.48rem;
  font-size: 0.28rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  line-height: 0.48rem;
}
#app .buy .buy-form .buy-form-area .buy-form-area-button {
  width: 1.22rem;
  height: 0.43rem;
  border: 0.01rem solid #000000;
  margin-top: 0.29rem;
  margin-left: 0.18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app .buy .buy-form .buy-form-area .buy-form-area-button .buy-form-area-button-text {
  font-size: 0.24rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #000;
  line-height: 0.48rem;
}
#app .buy .buy-form .buy-form-area .buy-form-area-button .buy-form-area-button-more {
  width: 0.1rem;
  height: 0.1rem;
  margin-left: 0.1rem;
  border-right: 0.01rem solid #000;
  border-bottom: 0.01rem solid #000;
  transform: rotate(45deg);
}
#app .buy .buy-form .buy-form-service {
  width: 100%;
  margin-top: 0.54rem;
}
#app .buy .buy-form .buy-form-service .buy-form-service-title {
  margin-left: 0.48rem;
  font-size: 0.28rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  line-height: 0.48rem;
}
#app .buy .buy-form .buy-form-service .buy-form-service-choose {
  width: 7rem;
}
#app .buy .buy-form .buy-form-service .buy-form-service-choose .buy-form-service-choose-item {
  margin-left: 0.49rem;
  margin-top: 0.13rem;
  margin-bottom: 0.17rem;
  border-bottom: 0.01rem solid #F5F5F5;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#app .buy .buy-form .buy-form-service .buy-form-service-choose .buy-form-service-choose-item .buy-form-service-choose-item-key {
  margin-left: 0.29rem;
  display: flex;
  align-items: center;
}
#app .buy .buy-form .buy-form-service .buy-form-service-choose .buy-form-service-choose-item .buy-form-service-choose-item-key .buy-form-service-choose-item-key-check {
  width: 0.19rem;
  height: 0.19rem;
  border: 0.01rem solid #000;
  border-radius: 50% ;
}
#app .buy .buy-form .buy-form-service .buy-form-service-choose .buy-form-service-choose-item .buy-form-service-choose-item-key .buy-form-service-choose-item-key-checked {
  background: url("../../image/home/checked.png") no-repeat;
  background-size: cover;
  border: none;
}
#app .buy .buy-form .buy-form-service .buy-form-service-choose .buy-form-service-choose-item .buy-form-service-choose-item-key .buy-form-service-choose-item-key-text {
  margin-left: 0.17rem;
  font-size: 0.24rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #000;
  line-height: 0.48rem;
}
#app .buy .buy-form .buy-form-service .buy-form-service-choose .buy-form-service-choose-item .buy-form-service-choose-item-price {
  font-size: 0.24rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FF0000;
  line-height: 0.48rem;
  margin-right: 1.44rem;
}
#app .buy .buy-form .buy-form-service .buy-form-service-bottom {
  width: 100%;
  height: 0.21rem;
  background: #fff;
}
#app .buy .buy-content {
  margin-top: 0.13rem;
  padding-bottom: 0.27rem;
  width: 100%;
  background: #fff;
}
#app .buy .buy-content .buy-content-title {
  padding-top: 0.28rem;
  margin-left: 0.48rem;
  font-size: 0.28rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  line-height: 0.48rem;
}
#app .buy .buy-content .buy-content-area {
  margin-top: 0.12rem;
  margin-left: 0.44rem;
  width: 80%;
  background: #F3F3F3;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.17rem 0.49rem 0.17rem 0.29rem;
}
#app .buy .buy-content .buy-content-area .buy-content-area-text {
  width: 5.83rem;
  font-size: 0.24rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #000;
}
#app .buy .buy-choose {
  width: 100%;
  margin-top: 0.12rem;
  background: #fff;
  margin-bottom: 0.9rem;
}
#app .buy .buy-choose .buy-choose-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0.1rem;
  margin-left: 0.72rem;
  padding-bottom: 0.1rem;
}
#app .buy .buy-choose .buy-choose-item .buy-choose-item-check {
  width: 0.19rem;
  height: 0.19rem;
  border: 0.01rem solid #000;
  border-radius: 50%;
}
#app .buy .buy-choose .buy-choose-item .buy-choose-item-checked {
  background: url("../../image/home/checked.png") no-repeat;
  background-size: cover;
  border: none;
}
#app .buy .buy-choose .buy-choose-item .buy-choose-item-text {
  margin-left: 0.11rem;
  font-size: 0.24rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #000;
  line-height: 0.48rem;
}
#app .buy .buy-button {
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.9rem;
  display: flex;
  border-top: 0.01rem solid #E0E0E0;
}
#app .buy .buy-button .buy-button-price {
  width: 50%;
  height: 100%;
  display: flex;
  background: #F5F5F5;
  justify-content: center;
  align-items: center;
  font-size: 0.36rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #FF9601;
}
#app .buy .buy-button .buy-button-buy {
  background: linear-gradient(0deg, #6887FF 0%, #4769EE 100%);
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.3rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #fff;
}
#app .popup-box .box {
  position: relative;
  width: 100%;
  height: 100%;
}
#app .popup-box .box .box-header {
  padding: 0.3rem 0;
  font-size: 0.3rem;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
}
#app .popup-box .box .box-main {
  padding: 0 0.2rem;
  /* 支付方式选中的样式 */
}
#app .popup-box .box .box-main p {
  font-size: 0.28rem;
  font-weight: 600;
}
#app .popup-box .box .box-main .main-item {
  box-sizing: border-box;
  width: 100%;
  height: 1rem;
  margin-top: 0.2rem;
  padding: 0 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  font-size: 0.28rem;
  color: #000;
  border: 1px solid #fff;
}
#app .popup-box .box .box-main .main-item .item-left {
  display: flex;
  align-items: center;
}
#app .popup-box .box .box-main .main-item .item-left img {
  margin-right: 0.2rem;
  width: 0.48rem;
  height: 0.39rem;
}
#app .popup-box .box .box-main .main-item:last-child img {
  width: 0.4rem;
  height: 0.4rem;
}
#app .popup-box .box .box-main .select-pay {
  border: 1px solid #1BA3E8;
  background-color: #DEF4FF;
}
#app .popup-box .box .box-footer {
  position: absolute;
  width: 100%;
  height: 0.9rem;
  bottom: 0;
}
#app .popup-box .box .box-footer .footer {
  width: 100%;
  height: 100%;
  display: flex;
}
#app .popup-box .box .box-footer .footer div {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.28rem;
}
#app .popup-box .box .box-footer .footer div span {
  color: #FF0000;
}
#app .popup-box .box .box-footer .footer div:last-child {
  font-size: 0.3rem;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(0deg, #6887ff 0%, #4769ee 100%);
}
