<div id="cooperation">
    <div class="content">
        <div v-if="roleId == 5">
            <div class="cooperation-title">自由职业者入驻</div>
            <p @click="openFreelancer">自由职业者入驻<span> > </span></p>
            <hr/>
        </div>
        <div v-if="roleId == 3 || roleId === 4 || roleId == 5">
            <div class="cooperation-title">服务商入驻</div>
            <p @click="openService">财税公司入驻<span> > </span></p>
            <p @click="openService">非财税公司入驻<span> > </span></p>
            <hr/>
        </div>
        <div v-if="roleId == 1 || roleId == 2 || roleId == 3 || roleId === 4 ||roleId == 5">
            <div class="cooperation-title">代理商加盟</div>
            <p @click="openAgent">加盟申请<span> > </span></p>
        </div>

    </div>
</div>
