<div id="profitAndLoss">
    <div class="company">
        <div class="company_name"><p>{{companyName}}</p></div>
        <div class="company_cny">币种:（CNY）</div>
    </div>


    <div class="datePick">
        <div class="date-icon">
            <img src="../../image/manageForm/date.png" alt="">
        </div>
        <span class="spans"></span>
        <div class="startTime">
            <van-field
                    readonly
                    clickable
                    name="datetimePicker"
                    :value="startTime"
                    placeholder="点击选择时间"
                    @click="showPicker1 = true"
            />
            <van-popup v-model="showPicker1" position="bottom">
                <van-datetime-picker
                        v-model="currentDate"
                        type="year-month"
                        title="开始年月"
                        :min-date="yearMinDate"
                        :max-date="yearMaxDate"
                        :formatter="formatter"
                        @confirm="onPicker1"
                        @cancel="showPicker1 = false"
                />
            </van-popup>
        </div>
        <div class="startTime-font">至</div>
        <div class="endTime">
            <van-field
                    readonly
                    clickable
                    name="datetimePicker"
                    :value="endTime"
                    placeholder="点击选择时间"
                    @click="showPicker2 = true"
            />
            <van-popup v-model="showPicker2" position="bottom">
                <van-datetime-picker
                        v-model="currentDate"
                        type="year-month"
                        title="结束年月"
                        :min-date="yearMinDate"
                        :max-date="yearMaxDate"
                        :formatter="formatter"
                        @confirm="onPicker2"
                        @cancel="showPicker2 = false"
                />
            </van-popup>
        </div>
    </div>

    <div class="table_name">损益表</div>

    <div class="picture">
        <div id="myChart"></div>
    </div>

    <div class="watchDetail_title" v-on:click="Show()"  >
        <div >查看明细</div>
        <img v-bind:src="moreImg" style="width: 0.24rem;height: 0.15rem;" v-show="isShowImg" alt="">
        <img v-bind:src="packUpMore" style="width: 0.24rem;height: 0.15rem;" v-show="!isShowImg" alt="">
    </div>

    <div class="isShow" v-show="isShow">

        <div class="accountDetails">
            <div class="accountDetails_content">{{companyName}}</div>
        </div>
        <div class="accountTitle">
            <div class="accountTitle_company">
                <div class="accountTitle_company_1">损益表</div>
                <div class="accountTitle_company_2">币种：（CNY）</div>
            </div>
            <div class="accountTitle_date">
                <div class="accountTitle_date_1">月份</div>
                <div class="accountTitle_month">
                    <van-field
                            readonly
                            clickable
                            name="datetimePicker"
                            :value="value"
                            placeholder="点击选择时间"
                            @click="showPicker = true"
                    />
                    <van-popup v-model="showPicker" position="bottom">
                        <van-datetime-picker
                                v-model="currentDate"
                                type="year-month"
                                title="选择年月"
                                :min-date="minDate"
                                :max-date="maxDate"
                                :formatter="formatter"
                                @confirm="onConfirm"
                                @cancel="showPicker = false"
                        />
                    </van-popup>
                    <img src="../../image/manageForm/arrow.png" alt="">
                </div>
            </div>
        </div>
        <!--startprint-->
        <div id="table1" class="watchDetail_content" style="overflow: scroll;">
            <table  border="1">
                <thead>
<!--                <tr >-->
<!--                    <td colspan="4">-->
<!--                        <div class="table-title">损益表</div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr >-->
<!--                    <td colspan="4">-->
<!--                        <div class="table-page">-->
<!--                            <div class="table-page-box" style="text-align: center;margin: 0 auto">-->
<!--                                {{value}}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr >-->
<!--                    <td colspan="4">-->
<!--                    <div class="table-page-second">-->
<!--                        <div class="table-page-box">单位名称：{{companyName}}</div>-->
<!--                        <div class="table-page-box">币别：RMB</div>-->
<!--                    </div>-->
<!--                    </td>-->
<!--                </tr>-->
                <tr >
                    <th style="white-space:nowrap;">项目</th>
                    <th style="white-space:nowrap;">行次</th>
                    <th style="text-align: right;white-space:nowrap;">本月数</th>
                    <th style="text-align: right;white-space:nowrap;">本年累计数</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in palList" :key="index">
                    <td style="white-space:nowrap;text-align: left">{{item.kmName}}</td>
                    <td style="text-align: center;white-space:nowrap;">{{item.line}}</td>
                    <td v-if="item.amtnBQ != 0" style="text-align: right;white-space:nowrap;">{{item.amtnBQ}}</td>
                    <td v-else style="text-align: right;white-space:nowrap;"></td>
                    <td v-if="item.amtnLJ != 0" style="text-align: right;white-space:nowrap;">{{item.amtnLJ}}</td>
                    <td v-else style="text-align: right;white-space:nowrap;"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--endprint-->
    </div>
    <div class="bottom_btns">
        <div @click="showShare = true" class="export">导出</div>
        <van-share-sheet v-model="showShare" :options="options"
                         @select="onSelect" title="选择导出方式"  />
        <div @click="handlPrint" class="print">打印</div>
    </div>
</div>