#xuShiBu {
  width: 100%;
  padding: 0;
  margin: 0;
}
#xuShiBu .startTime-font {
  display: flex;
  font-size: 0.25rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #000000;
  opacity: 0.96;
}
#xuShiBu .company {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.28rem;
}
#xuShiBu .company .company-top {
  margin-top: 0.42rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#xuShiBu .company .company-top .company_name {
  display: flex;
  height: 100%;
  font-size: 0.35rem;
  color: #000;
  font-weight: 600;
}
#xuShiBu .company .level {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  height: 0.68rem;
  margin-top: 0.3rem;
}
#xuShiBu .company .level .level-font {
  font-size: 0.35rem;
  color: #000;
  font-family: PingFang SC;
  font-weight: bold;
  color: #000000;
}
#xuShiBu .company .level .level-pick {
  padding: 0 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1.72rem;
  height: 0.68rem;
  border: 1px solid #7F7F7F;
  border-radius: 0.04rem;
  margin-left: 0.38rem;
}
#xuShiBu .company .level .level-pick .date-icon {
  width: 0.25rem;
  height: 0.26rem;
  opacity: 0.8;
}
#xuShiBu .company .level .level-pick .spans {
  width: 0.01rem;
  height: 0.36rem;
  border: 0.01rem solid #000000;
  opacity: 0.3;
  margin-left: 0.18rem;
}
#xuShiBu .company .level .level-pick .startTime {
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
}
#xuShiBu .company .level .level-pick .startTime .van-cell {
  padding: 0rem;
  opacity: 1;
}
#xuShiBu .company .level .level-pick .startTime .van-field__control {
  text-align: center;
  opacity: 1;
}
#xuShiBu .company .level .level-pick .startTime .startTime_title {
  width: 0.7rem;
  font-size: 0.2rem;
}
#xuShiBu .company .level .level-pick .endTime {
  display: flex;
}
#xuShiBu .company .level .level-pick .endTime .van-cell {
  padding: 0rem;
  opacity: 1;
}
#xuShiBu .company .level .level-pick .endTime .van-field__control {
  text-align: center;
  opacity: 1;
}
#xuShiBu .company .level .level-pick .endTime .endTime_title {
  width: 0.7rem;
  font-size: 0.2rem;
}
#xuShiBu .company .level .level-pick > el-date-picker {
  width: 40%;
  height: 100%;
}
#xuShiBu .company .level .company_cny {
  width: 45%;
  text-align: right;
  font-size: 0.24rem;
  color: #000;
  font-family: PingFang SC;
  font-weight: bold;
  color: #000000;
}
#xuShiBu .company .subject {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  height: 0.68rem;
  margin-top: 0.3rem;
}
#xuShiBu .company .subject .subject-font {
  font-size: 0.35rem;
  color: #000;
  font-family: PingFang SC;
  font-weight: bold;
  color: #000000;
}
#xuShiBu .company .subject .subject-pick {
  padding: 0 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.93rem;
  height: 0.68rem;
  border: 1px solid #7F7F7F;
  border-radius: 0.04rem;
  margin-left: 0.38rem;
}
#xuShiBu .company .subject .subject-pick .date-icon {
  width: 0.25rem;
  height: 0.26rem;
  opacity: 0.8;
}
#xuShiBu .company .subject .subject-pick .spans {
  width: 0.01rem;
  height: 0.36rem;
  border: 0.01rem solid #000000;
  opacity: 0.3;
  margin-left: 0.18rem;
}
#xuShiBu .company .subject .subject-pick .startTime {
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
}
#xuShiBu .company .subject .subject-pick .startTime .van-cell {
  padding: 0rem;
  opacity: 1;
}
#xuShiBu .company .subject .subject-pick .startTime .van-field__control {
  text-align: center;
  opacity: 1;
}
#xuShiBu .company .subject .subject-pick .startTime .startTime_title {
  width: 0.7rem;
  font-size: 0.2rem;
}
#xuShiBu .company .subject .subject-pick .endTime {
  display: flex;
}
#xuShiBu .company .subject .subject-pick .endTime .van-cell {
  padding: 0rem;
  opacity: 1;
}
#xuShiBu .company .subject .subject-pick .endTime .van-field__control {
  text-align: center;
  opacity: 1;
}
#xuShiBu .company .subject .subject-pick .endTime .endTime_title {
  width: 0.7rem;
  font-size: 0.2rem;
}
#xuShiBu .company .subject .subject-pick > el-date-picker {
  width: 40%;
  height: 100%;
}
#xuShiBu .company .subject .company_cny {
  width: 45%;
  text-align: right;
  font-size: 0.24rem;
  color: #000;
  font-family: PingFang SC;
  font-weight: bold;
  color: #000000;
}
#xuShiBu .datePick {
  padding: 0 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.72rem;
  height: 0.68rem;
  border: 1px solid #7F7F7F;
  border-radius: 0.04rem;
  margin-top: 0.3rem;
}
#xuShiBu .datePick .date-icon {
  width: 0.25rem;
  height: 0.26rem;
  opacity: 0.8;
}
#xuShiBu .datePick .spans {
  width: 0.01rem;
  height: 0.36rem;
  border: 0.01rem solid #000000;
  opacity: 0.3;
  margin-left: 0.18rem;
}
#xuShiBu .datePick .startTime {
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
}
#xuShiBu .datePick .startTime .van-cell {
  padding: 0rem;
  opacity: 1;
}
#xuShiBu .datePick .startTime .van-field__control {
  text-align: center;
  opacity: 1;
}
#xuShiBu .datePick .startTime .startTime_title {
  width: 0.7rem;
  font-size: 0.2rem;
}
#xuShiBu .datePick .endTime {
  display: flex;
}
#xuShiBu .datePick .endTime .van-cell {
  padding: 0rem;
  opacity: 1;
}
#xuShiBu .datePick .endTime .van-field__control {
  text-align: center;
  opacity: 1;
}
#xuShiBu .datePick .endTime .endTime_title {
  width: 0.7rem;
  font-size: 0.2rem;
}
#xuShiBu .datePick > el-date-picker {
  width: 40%;
  height: 100%;
}
#xuShiBu .watchDetail_title {
  height: 1rem;
  width: 100%;
  padding: 0 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.3rem;
  color: #000;
  font-weight: 400;
}
#xuShiBu .watchDetail_title img {
  height: 0.25rem;
  width: 0.25rem;
}
#xuShiBu .watchDetail_content {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: scroll;
}
#xuShiBu .watchDetail_content table {
  width: 300%;
  text-align: left;
  font-size: 0.29rem;
}
#xuShiBu .watchDetail_content table thead tr td {
  white-space: nowrap;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
#xuShiBu .watchDetail_content table tbody tr td {
  white-space: nowrap;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
#xuShiBu .bottom_btns {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
}
#xuShiBu .bottom_btns .export {
  height: 50%;
  width: 100%;
  background: linear-gradient(0deg, #ff3d3d 0%, #e83737 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.3rem;
}
#xuShiBu .bottom_btns .print {
  height: 50%;
  width: 100%;
  background: linear-gradient(0deg, #6887ff 0%, #4769ee 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.3rem;
}
